<!DOCTYPE html>
<html>
  <head>
    <title>Lockwood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%= display_meta_tags site: 'My website' %>
<% set_meta_tags keywords: 'Fit,
              Fitness,
              Health,
              Healthy,
              Wellness,
              Lifestyle,
              Exercise,
              Science,
              Physiology,
              Athlete,
              Sport,
              Physical,
              Bodybuilding,
              Body,
              Building,
              Weight,
              Training,
              Resistance,
              Plyometric,
              Speed,
              Agility,
              Strength,
              Conditioning,
              Endurance,
              Aerobic,
              CrossFit,
              Strongman,
              Powerlifting,
              Olympics,
              Olympic,
              Lifting,
              One-rep,
              max,
              1RM,
              Personal,
              Best,
              Record,
              Bench,
              Press,
              Squat,
              Deadlift,
              Power,
              Clean,
              Curl,
              Lunge,
              Shrug,
              Bound,
              Hop,
              Step,
              Run,
              Sprint,
              Race,
              Bike,
              Bicycle,
              Swim,
              Event,
              Competition,
              Olympia,
              Arnold,
              Classic,
              Physique,
              Figure,
              Bikini,
              Model,
              Composition,
              Muscle,
              Mass,
              Lean,
              Tissue,
              Fat,
              Percent,
              Bone,
              Density,
              Metabolism,
              Metabolic,
              Thermogenesis,
              Thermogenic,
              Nutrition,
              Nutritionist,
              Diet,
              Plan,
              Dietary,
              Dietician,
              Food,
              Scientist,
              Eating,
              Meal,
              Protein,
              Amino,
              Acid,
              Peptide,
              Calories,
              Energy,
              Kcal,
              Fatty,
              Carbohydrate,
              Sugar,
              Trainer,
              Coach,
              Supplement,
              Nutraceutical,
              Vitamin,
              Mineral,
              Botanical,
              Herb,
              Herbal,
              Extract,
              Active,
              Ingredient,
              Facts,
              Sports,
              Lockwood,
              Chris,
              Christopher,
              M,
              Dr,
              Lockwood,
              PhD,
              CSCS,
              Certified,
              Specialist,
              NSCA,
              National,
              Association,
              ACSM,
              American,
              College,
              of,
              Medicine,
              ISSN,
              International,
              Society,
              ABB,
              Weider,
              Publications,
              M&F,
              Hers,
              Shape,
              Ironman,
              Flex,
              Bodybuilding.com,
              4Life,
              GNC,
              General,
              Centers,
              Shoppe,
              Research,
              Legitimate,
              Innovate,
              Validate,
              Educate,
              Innovation,
              Validation,
              Education,
              Substantiate,
              Substantiation,
              GMP,
              Good,
              Manufacturing,
              Practices,
              Banned,
              Substances,
              Anti-Doping,
              Ephedrine,
              Whey,
              Hydrolysate,
              Hydrolyze,
              Hydrolyzed,
              Bioactive,
              Peptides,
              Bioactives,
              Polyphenol,
              Flavonoid,
              Recovery,
              Anti-Aging,
              Aging,
              Joint,
              Liver,
              Sleep,
              Hormones,
              Testosterone,
              Growth,
              Hormone,
              Nitric,
              Oxide,
              Blood,
              Flow,
              Pump,
              Pumped,
              Train,
              Gym,
              Club,
              Gold’s,
              World’s,
              Powerhouse,
              Center,
              Home,
              Spin,
              Spinning,
              VO2,
              ATP,
              Essential,
              Acids,
              EAA,
              Branched,
              Chain,
              BCAA,
              Conditional,
              Alanine,
              Anserine,
              Arginine,
              Asparagine,
              Aspartic,
              Aspartate,
              Beta-Alanine,
              Carnosine,
              Carnitine,
              Creatine,
              Cysteine,
              Cystine,
              DAA,
              D-Aspartic,
              Glycine,
              Glutamine,
              Glutamic,
              Glutamate,
              Histidine,
              Isoleucine,
              Leucine,
              L-Dopa,
              Dopamine,
              Epinephrine,
              Norepinephrine,
              Serotonin,
              Melatonin,
              Insulin,
              Glucose,
              Glucagon,
              Glycerol,
              Oxidation,
              Lipase,
              Levadopa,
              Choline,
              Citicholine,
              Methionine,
              Malic,
              Malate,
              N-acetylcysteine,
              NAC,
              ALA,
              alpha,
              lipoic,
              acid,
              Ornithine,
              Proline,
              Phenylalanine,
              Serine,
              Taurine,
              Tryptophan,
              Tyrosine,
              Valine,
              Soy,
              Casein,
              Milk,
              Supply,
              Side,
              West,
              Informa,
              Ingredients,
              Molecule,
              Biochemistry,
              Biology,
              Product,
              Development,
              FDA,
              Drug' %>
              <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400, 700|Montserrat:400, 700" rel="stylesheet">
  </head>

  <body>

    <div class='container'>
      <%= render 'layouts/nav' %>
      <%= yield %>
    </div>
  </body>
</html>
